flows.json
[{"id":"13cded8a.1056b2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"47b8dba6.4ed6f4","type":"ui_form","z":"13cded8a.1056b2","name":"","label":"","group":"248755d5.2a414a","order":0,"width":0,"height":0,"options":[{"label":"Country","value":"t","type":"text","required":true,"rows":null},{"label":"Year ","value":"a","type":"number","required":true,"rows":null},{"label":"Status","value":"u","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"b","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"c","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"d","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"e","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"f","type":"number","required":true,"rows":null},{"label":"Measles","value":"g","type":"number","required":true,"rows":null},{"label":"BMI","value":"h","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"i","type":"number","required":true,"rows":null},{"label":"Polio","value":"j","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"k","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"l","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"m","type":"number","required":true,"rows":null},{"label":"GDP","value":"n","type":"number","required":true,"rows":null},{"label":"Population","value":"o","type":"number","required":true,"rows":null},{"label":"thinness  1-19 years","value":"p","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"q","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"r","type":"number","required":true,"rows":null},{"label":"Schooling","value":"s","type":"number","required":true,"rows":null}],"formValue":{"t":"","a":"","u":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":""},"payload":"","submit":"Submit","cancel":"cancel","topic":"","x":70,"y":100,"wires":[["eb81f83b.b03548"]]},{"id":"eb81f83b.b03548","type":"function","z":"13cded8a.1056b2","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\n\n//following are required to receive a token\nvar apikey=\"UxnUX_aCrJPdulVSzvqAC3hwW4Jls4WwlebZECCkEIAR\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":100,"wires":[["ccde0f9a.73b33"]]},{"id":"df94b8e7.7c05f8","type":"http request","z":"13cded8a.1056b2","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/c1ec2f41-a09a-4f62-b80c-1ff1816d0a28/deployments/2fc31b7e-55ed-483f-ac4a-fa149cb7166a/online","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":180,"wires":[["68dac5e4.a9abfc","1cb8288b.720777"]]},{"id":"866be365.77072","type":"debug","z":"13cded8a.1056b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":280,"wires":[]},{"id":"1cb8288b.720777","type":"function","z":"13cded8a.1056b2","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["866be365.77072","d6e9d8e6.4f2538"]]},{"id":"68dac5e4.a9abfc","type":"debug","z":"13cded8a.1056b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":180,"wires":[]},{"id":"6924823b.23866c","type":"function","z":"13cded8a.1056b2","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"c1ec2f41-a09a-4f62-b80c-1ff1816d0a28\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\n\n\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\n\n//Status\nvar array = ['Developing','Developed'];\nvar x=array.indexOf(u);\n\n//country\nvar array2 = ['Afghanistan',\n 'Albania',\n 'Algeria',\n 'Angola',\n 'Argentina',\n 'Armenia',\n 'Australia',\n 'Austria',\n 'Azerbaijan',\n 'Bangladesh',\n 'Belarus',\n 'Belgium',\n 'Belize',\n 'Benin',\n 'Bhutan',\n 'Bosnia and Herzegovina',\n 'Botswana',\n 'Brazil',\n 'Bulgaria',\n 'Burkina Faso',\n 'Burundi',\n 'Cabo Verde',\n 'Cambodia',\n 'Cameroon',\n 'Canada',\n 'Central African Republic',\n 'Chad',\n 'Chile',\n 'China',\n 'Colombia',\n 'Comoros',\n 'Costa Rica',\n 'Croatia',\n 'Cyprus',\n 'Djibouti',\n 'Dominican Republic',\n 'Ecuador',\n 'El Salvador',\n 'Equatorial Guinea',\n 'Eritrea',\n 'Estonia',\n 'Ethiopia',\n 'Fiji',\n 'France',\n 'Gabon',\n 'Georgia',\n 'Germany',\n 'Ghana',\n 'Greece',\n 'Guatemala',\n 'Guinea',\n 'Guinea-Bissau',\n 'Guyana',\n 'Haiti',\n 'Honduras',\n 'India',\n 'Indonesia',\n 'Iraq',\n 'Ireland',\n 'Israel',\n 'Italy',\n 'Jamaica',\n 'Jordan',\n 'Kazakhstan',\n 'Kenya',\n 'Kiribati',\n 'Latvia',\n 'Lebanon',\n 'Lesotho',\n 'Liberia',\n 'Lithuania',\n 'Luxembourg',\n 'Madagascar',\n 'Malawi',\n 'Malaysia',\n 'Maldives',\n 'Mali',\n 'Malta',\n 'Mauritania',\n 'Mauritius',\n 'Mexico',\n 'Mongolia',\n 'Montenegro',\n 'Morocco',\n 'Mozambique',\n 'Myanmar',\n 'Namibia',\n 'Nepal',\n 'Netherlands',\n 'Nicaragua',\n 'Niger',\n 'Nigeria',\n 'Pakistan',\n 'Panama',\n 'Papua New Guinea',\n 'Paraguay',\n 'Peru',\n 'Philippines',\n 'Poland',\n 'Portugal',\n 'Romania',\n 'Russian Federation',\n 'Rwanda',\n 'Samoa',\n 'Sao Tome and Principe',\n 'Senegal',\n 'Serbia',\n 'Seychelles',\n 'Sierra Leone',\n 'Solomon Islands',\n 'South Africa',\n 'Spain',\n 'Sri Lanka',\n 'Suriname',\n 'Swaziland',\n 'Sweden',\n 'Syrian Arab Republic',\n 'Tajikistan',\n 'Thailand',\n 'Timor-Leste',\n 'Togo',\n 'Tonga',\n 'Trinidad and Tobago',\n 'Tunisia',\n 'Turkey',\n 'Turkmenistan',\n 'Uganda',\n 'Ukraine',\n 'Uruguay',\n 'Uzbekistan',\n 'Vanuatu',\n 'Zambia',\n 'Zimbabwe'];\nvar y=array.indexOf(t);\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":['Country','Year','Status', 'Adult Mortality', 'infant deaths', 'Alcohol',\n       'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ',\n       'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ',\n       ' HIV/AIDS', 'GDP', 'Population', ' thinness  1-19 years',\n       ' thinness 5-9 years', 'Income composition of resources', 'Schooling'],\n\"values\":[[y,a,x,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["df94b8e7.7c05f8"]]},{"id":"ccde0f9a.73b33","type":"http request","z":"13cded8a.1056b2","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":370,"y":100,"wires":[["6924823b.23866c"]]},{"id":"d6e9d8e6.4f2538","type":"ui_text","z":"13cded8a.1056b2","group":"248755d5.2a414a","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":400,"wires":[]},{"id":"248755d5.2a414a","type":"ui_group","z":"","name":"Machine Learning Model","tab":"b1f4830d.ca4d7","order":1,"disp":true,"width":"6","collapse":false},{"id":"b1f4830d.ca4d7","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]